@page
@model Shop.Pages.ShoppingCartModel
@{
    decimal createTotalPrice(List<OrderItem> items)
    {
        decimal totalPrice = 0;
        for (int i = 0; i < items.Count; i++)
        {
            totalPrice += items[i].totalPrice;
        }
        return totalPrice;
    }

}
<div class="row p-3 mb-2 bg-dark text-white">
    <div class="col-md-8 p-3">
        <h4>Shopping Cart</h4>
    </div>
</div>



<div class="table-responsive">
    <table class="table align-middle table-dark">
        <thead>
            <tr>
                <th>Author</th>
                <th>Category</th>
                <th>Price</th>
                <td>Copies</td>
                <td></td>
                <td></td>
            
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.items)
            {
                <tr>
                    <td>@item.bookInfo.Author</td>
                    <td>@item.bookInfo.Category</td>
                    <td>@item.bookInfo.Price lei</td>
                    <td>@item.numCopies</td>
                    <td><a class="btn btn-outline-info btn-sm" href="/ShoppingCart?action=sub&id=@(item.bookInfo.Id)" role="button">-</a>
                    <a class="btn btn-outline-info btn-sm" href="/ShoppingCart?action=add&id=@(item.bookInfo.Id)" role="button">+</a>
                    </td>>
                    <td><a href="/ShoppingCart?action=delete&id=@(item.bookInfo.Id)"><i class="bi bi-trash"></i></a></td>
                
                </tr>
            }
        </tbody>
    </table>

   
</div>



<div class="container bg-info fixed-bottom">
    <div class="row">
        <div class="col">
            Total Price:
        </div>
        <div class="col text-right">
            <h2>@createTotalPrice(@Model.items)</h2>
        </div>
    </div>
</div>




