@page
@model Shop.Pages.Admin.Books.IndexModel
@{

}


<h1 class="my-4">List of Books</h1>

<div class="row mb-4">
    <div class="col">
        <a class="btn btn-primary" href='/Admin/Books/Creation'> New Book</a>
        </div>
        <div class="col">
            <form class="d-flex">
                <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Title or Author or ID" >
                <button class="btn btn-info" type="submit">Search</button>
            </form>
      </div>


</div>

<script>
    function sortTable(column) {
        let order = "asc";
        let currentColumn = "@Model.column";
        let currentOrder = "@Model.order";

        if (column == currentColumn) {
            if (currentOrder == "desc") order = "asc";
            else order = "desc";
        }
        window.location.href = '?search=@Model.search&column=' + column + '&order='+ order ;
    }
</script>    

<table class="table">
    <thead>
        <tr>
            <th style="cursor : pointer;" onclick="sortTable('id')">ID</th>
            <th style="cursor : pointer;" onclick="sortTable('title')">Title</th>
            <th style="cursor : pointer;" onclick="sortTable('authors')">Author</th>
            <th style="cursor : pointer;" onclick="sortTable('num_pages')">Pages</th>
            <th style="cursor : pointer;" onclick="sortTable('price')">Price</th>
            <th style="cursor : pointer;" onclick="sortTable('category')">Category</th>
            <th style="cursor : pointer;" onclick="sortTable('created_at')">Creation Date ></th>
            <th>Image</th>




        </tr>




    </thead>

    <tbody>
        @foreach(var item in Model.listBooks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.NumPages</td>
                <td>@item.Price lei</td>
                <td>@item.Category</td>
                <td>@item.CreatedAt</td>
                <td><img src="/imagesBooks/@item.ImageFileName" width="100" /></td>
                <td>
                <td style="white-space:nowrap">
                    <a class="btn btn-success btn-sm" href="Books/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="Books/Delete?id=@item.Id">Delete</a>

                </td>
      




            </tr>
        }




    </tbody>



</table>


 <nav>
  <ul class="pagination">
        @for(int i=1; i<=Model.totalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="?page=@(i)&search=@(Model.search)">@i</a></li>   
        }
    </ul>
</nav>